
    
   <!-- <div class="m-4">
        <div class="card rounded-0 border-info">
            <section>
                <div class="d-flex justify-content-between ps-4 pb-3 pr-3 " >
                <ol class="breadcrumb ms-4 mt-2">
     
                    <img src="assets/images/Account.png" alt="logo" style="height:30px; margin-top: 20px; " />
                    <li class="breadcrumb-item active align-header" aria-current="page">User Setup</li>
                </ol>
                 <div class="button">
                    <button
                    class="addcustomer" (click)="toggleSelection()"  
                  >        
                  <i class="bi bi-plus-circle"></i>            
                         Add New User
                    </button>  
                 </div>                  
                </div>
     
            </section>
            <div class="search-container m-4">
                <input class="search-input" type="text" placeholder="Search">
                <i class="bi bi-search searchicon"></i>
            </div>
            <div class="table-container m-4">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th >Role <i class="bi bi-caret-down-fill red-caret-down"></i></th>
                            <th>Name <i class="bi bi-caret-down-fill red-caret-down"></i></th>
                            <th>Email Id <i class="bi bi-caret-down-fill red-caret-down"></i></th>
                            <th>Phone Number <i class="bi bi-caret-down-fill red-caret-down"></i></th>
                            <th>Status <i class="bi bi-caret-down-fill red-caret-down"></i></th>
                        </tr>
                    </thead>
                    
                    
                </table>
            </div>
          
            <section>
                <div class="" >
                    <div class="container m-5">
                        <form class="row" >
                            <h3>New User</h3>
                            <div class="row">
                                <div class="col d-flex">
                                    <div class="form-group">
                                        <label for="role" class="form-label">Role* </label>
                                        
                                        <select class="input-class"  aria-label="Default select example"
                                        name="role" formControlName="role" >
                                           <option disabled selected value>Select role</option>
                                            <option value="role1">Steering Committee</option>
                                            <option value="role2">CISO</option>
                                            <option value="role3">Senior Manager</option>
                                            <option value="role4">Manager</option>
                                            <option value="role5">Traniee</option>
                                            <option value="role6">Auditor</option>
                                        </select>            
                                        <i class="bi bi-plus-circle customs-icon" ></i>            
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col d-flex">
                                    <div class="form-group">
                                        <label for="name" class="form-label">Name</label>
                                        <input type="text" id="name" formControlName="name"
                                            class="input-class" placeholder="Name">
                                                
                                    </div>
                                </div>
                            </div>
     
                            <div class="row">
                                <div class="col d-flex">
                                    <div class="form-group">
                                        <label for="emailId" class="form-label">Email Id* </label>
                                        <input type="text" id="emailId" formControlName="emailId"
                                            class="input-class" placeholder="emailid" >
                                            
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col d-flex">
                                    <div class="form-group">
                                        <label for="phoneNo" class="form-label">Phone Number</label>
                                        <input type="text" id="phoneNo" formControlName="phoneNo"
                                            class="input-class" placeholder="Phone Number" >
                                            
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col d-flex">
                                  <label for="status" class="form-label">Status</label>
                                  <div style="margin-left: 45px;">
                                    <label >
                                      <input type="radio" formControlName="status" value="Active"> Active
                                    </label>
                                    <label class="ms-2">
                                      <input type="radio" formControlName="status" value="Inactive"> Inactive
                                    </label>
                                  </div>
                                 
                                </div>  
                              </div>
                            <div class="d-flex justify-content-center" style="padding-top: 10px ; padding-left: 30px;">
                                <div class="col"></div>
     
                                <div class="col">
                                    <button class="me-2 submit-button" >
                                        Cancel
                                    </button>
                                    <button class=" me-2 cancel-button"   type="submit">Submit</button>
                                </div>
                                <div class="col"></div>
                            </div>
                        </form>
     
                    </div>
                </div>
            </section>
        </div>-->
  
